<ion-view class="account-profile-view account-sub-view" cache-view="false">
  <ion-content>
    <div class="row user-info-row">
      <div class="col col-25">
        <pre-img ratio="_1_1">
          <img class="profile-image" ng-src="img/me1.png" spinner-on-load/>
        </pre-img>
      </div>
      <div class="col col-75 col-center user-info-col">
        <h3 class="user-welcome">Manuel Alba</h3>
        <p class="user-email">malba@mmae.cl</p>
        <p class="user-email">manuel.alba@mail.udp.cl</p>
      </div>
    </div>
    <div class="row user-info-row">
    <div class="col col-75">

      <p class="">Civil Engineering in Computer science and Telecommunication</p>

    </div>
    </div>

    <div class="list account-divider">
      <div class="item item-divider"></div>
    </div>
    <div class="row invite-and-rate-row">
      <div class="col">
        <bautton class="button button-block invite-friends-button" ng-click="invite()">Invite Friends</bautton>

      </div>
    </div>

  </ion-content>
</ion-view>
